# Cloudinary
VITE_CLOUDINARY_NAME=

# Tanstack Query config
# Choose development or production for query stale time
VITE_QUERY_ENV=
# For production, change to your production backend URL
VITE_API_BASE_URL=