# ignore node_modules and dist in all folders
**/node_modules
**/dist
# ignore .env files but allows .env.example to be committed
**/*.env
!**/.env.example

# ignore some personal folders and files
practica/
to-do.txt
todo.txt
/backend/db/tables_code.txt
z_comm.txt
z_aprender.txt
z_tsnotes.txt

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
TODO.md

# Build outputs
**/coverage
**/dist
**/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
