PORT_FRONTEND=Your frontend port
PORT_BACKEND=Your backend port
JWT_SECRET=Your access token secret
JWT_REFRESH_SECRET=Your refresh token secret
NODE_ENV=dev or production, depending on your environment
DB_HOST=host of your db
DB_DATABASE=Name of your db
DB_USER=Your db username