@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17 24 39);
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.webkit-fill-available {
  width: -webkit-fill-available;
}

/* Containers */

.feature-card {
  height: auto;
}

.reusableContainer {
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  position: relative;
}

/* buttons */

.backupsBtn {
  min-width: 6rem;
  background-color: #1f2937;
  color: #d1d5db;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
  display: block;
}

h1:focus {
  outline: none; /* Remueve cualquier estilo de foco por defecto */
}

h1:focus-visible {
  outline: 2px solid #007BFF; /* Agrega un estilo de foco visible solo al usar teclado */
}

.backupsLogo:focus-visible {
  outline: none;
  border-color: #005eff;
  box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.5);
}

.backupsBtn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #334155;
}

.backupsBtn:active {
  background-color: #293445;
  box-shadow: none;
}

.oldgrayBtn {
  background-color: #949494;
  border: 2px inset #4e4e4e;
  color: rgb(235, 235, 235);
  border-radius: 0px;
  overflow: auto;
  display: flex;
  justify-content: center;
  width: 150px;
  white-space: nowrap;
  margin: 5px;
  min-width: 6rem;
  font-size: 0.875rem;
  padding: 0.625rem;
  display: block;
}

.oldgrayBtn:hover {
  background-color: #818181;
  border: 2px inset #4e4e4e;
}

.oldgrayBtn:active {
  background-color: #727272;
  border: 2px inset #4e4e4e;
}

/* input */

.backupsInput {
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem;
  background-color: #1a2335;
  border-color: #4a5568;
  color: #e2e8f0;
}

.backupsInput::placeholder {
  color: #a0aec0;
}

/* tailwind-scrollbar */
*::-webkit-scrollbar {
  width: 6px; /* delgada */
  height: 6px; /* horizontal también */
}

*::-webkit-scrollbar-track {
  background-color: #1e1e1e; /* track oscuro */
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gris (gray-600) */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gris más claro al hover */
}

/* Firefox */
* {
  scrollbar-width: thin;              /* delgada */
  scrollbar-color: #4b5563 #1e1e1e;  /* thumb | track */
}